
.landing-page-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);

}

.aib-description-wrapper {
  background-color: #21395B;
  color: white;
  padding: 2rem;
  text-align: center;
}

.aib-description h4 {
  color:#ED8458;
  font-weight:700;
  font-size:18px;
  margin-bottom: 0.5rem;
}

.aib-description h2 {

  font-size: 36px;
  font-weight:700;
  margin-bottom: 1rem;
  font-weight: bold;
}

.aib-description p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: auto;
}




.description-and-pic-wrapper {
  display:flex;
  flex:1;
  justify-content: space-evenly;
}

.landing-page-right-pic img {
width:100%;
}


.contact-us {
  color:#ED8458;
  font-weight:700;
  font-size:18px;

}
