
.nav-wrapper {
  background-color: #375458;
  color: white;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.inner-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;

}

.nav-left {
  font-size: 32px;
  font-weight:700;
}

.nav-right {
  font-size:20px;
  font-weight: 600;
}

.nav-wrapper a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}



.nav-right button {
  padding-left:20px;
}


.profile-dropdown {
  position: absolute;
  right: 20px;
  top: 60px;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  z-index: 1000;
  padding: 10px 0;
}

.profile-dropdown li {
  padding: 10px 20px;
  list-style: none;
  color: white;
}

.profile-dropdown li:not(:last-child) {
  border-bottom: 1px solid #444;
}

.profile-dropdown li:hover {
  background-color: #555;
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown button {

  padding:18px;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}

.fas fa-user-circle {
  font-size: 24px;

}
