
.game-images-wrapper {
  display:flex;
  align-items:center
}

.game-image img {
  width: 100%;
  height: auto;
  display: block;
}

.game-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.game-info {
  display:flex;
  flex-direction:column;
}

.game-info img {
  width:100%;
}

.game-buttons-wrapper img {
  width: 100px;
  height: auto;
  cursor: pointer;
}

.game-buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}

.description-only {
 Height:180px;
 padding-bottom:20px;
 padding-top:20px;
}



.game-info-and-buttons-wrapper {
  /* border: 4px solid red; */
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  width:550px;
}
